<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-around">
  <p class="text-xl">Signed as <%= current_user.email %></p>
  <%= button_to "Log out", Current.session, method: :delete, class: "btn btn-link" %>
</div>

<h1>Candidates</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>N° Votes</th>
      <th>Voted?</th>
      <th>Cast Vote</th>
      <th>Office</th>
      <th>Party</th>
    </tr>
  </thead>
  <tbody>
    <% if @candidates.empty? %>
      <tr>
        <td colspan="3">No candidates found</td>
      </tr>
      <% elsif %>
      <% @candidates.each do |e| %>
        <tr>
          <td><%= e.name %></td>
          <td><%= e.votes_count %></td>
          <td><%= e.votes.exists?(user: current_user) %></td>
          <td><%= button_to "Vote", votes_path(vote: { candidate_id: e.id }), method: :post, class: "btn btn-primary" %></td>
          <td><%= e.office.name %></td>
          <td><%= e.party.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="justify-content-between d-flex">
  <div>
    <%= form_with(model: @candidate, url: candidates_path, class: "d-inline-flex flex-column") do |f| %>
      <h3>New Candidate</h3>
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :office_id, class: "form-label" %>
      <%= f.select :office_id, @offices.map { |e| [e.name, e.id] }, class: "form-select" %>
      <%= f.label :party_id, class: "form-label" %>
      <%= f.select :party_id, @parties.map { |e| [e.name, e.id] }, class: "form-select" %>
      <%= f.submit %>
    <% end %>
  </div>

  <div>
    <%= form_with(model: @office, url: offices_path, class: "d-inline-flex flex-column") do |f| %>
      <h3>New Office</h3>
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit %>
    <% end %>
  </div>

  <div>
    <%= form_with(model: @party, url: parties_path, class: "d-inline-flex flex-column") do |f| %>
      <h3>New Party</h3>
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
